.main-container {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.background-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100; /* Sends the blurred background behind content */
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/housing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px); /* Adjust blur intensity */
  z-index: -1; /* Keep it behind text */
}

.title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-title {
  position: relative;
  color: white;
  font-size: 70px;
}

.home-page-description {
  position: relative;
  color: white;
  font-size: 20px;
}

.learn-more-container {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.learn-more-arrow {
  color: white;
  font-size: 2rem;
}

.learn-more-text {
  color: white;
  font-size: 1rem;
}

.description-overall-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ddbd9e; /* Light background to differentiate */
  padding: 5% 10%;
}

.description-container {
  position: relative;
  width: 100%;
  padding: 50px 100px;
  text-align: left;
}

.description-title {
  position: relative;
  bottom: 10%;
}

.skyline-container {
  position: relative;
}

.austin-skyline {
  height: 40vh;
  border-radius: 10%;
}
