.programs-page-container {
    text-align: left; /* Centers text */
    display: flex;
    flex-direction: column; /* Ensures items are stacked vertically */
    align-items: center; /* Centers content */
    padding-top: 100px;
    background-color:#f4ebd0;
    padding-bottom: 150px;
  }
.programs-page-title {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fca46c;
    text-shadow: 2px 2px 4px rgba(224, 213, 213, 0.2);
    margin-bottom: 15px;
    margin-top: 20 px;
}

.programs-page-description {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    color: #fcb454;
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.5;
}
  
  .ProgramCards-container {
    display: flex;
    justify-content: center; /* Centers cards horizontally */
    gap: 40px; /* Adds spacing between cards */
    flex-wrap: wrap; /* Ensures responsiveness */
    margin-top: 40px; /* Adds space between text and cards */
    margin-bottom: 100px;
  }
  .ProgramCard { 
    width: 200px; /* Adjust this to make the cards wider */
    max-width: 100%; /* Prevents overflow on smaller screens */
    background-color: white; /* Ensures border is visible */
    border: 7px solid #fce7a7; /* Thicker border */
    border-radius: 20px;
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.ProgramCard:hover {
  border-color: #e67e22; /* Changes color on hover */
  transform: scale(1.05); /* Slight zoom effect */
}


  