.visualizations-page-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #f4ebd0;
  padding-bottom: 60px;
}

.visualizations-page-title {
  font-size: clamp(1.75rem, 1.375rem + 1.5vw, 2.75rem);
  font-weight: bold;
  text-align: center;
  color: #fca46c;
  text-shadow: 2px 2px 4px rgba(224, 213, 213, 0.2);
  margin-bottom: 5px;
  margin-top: 5px;
}

.visualizations-page-description {
  font-size: 1.2rem;
  text-align: center;
  color: #fcb454;
  max-width: 600px;
  margin: 0 auto 30px;
  line-height: 1.5;
}

.visualizations-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 90%;
}

.loading-message {
  color: #fcb454;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 30px;
}