Flask==3.1.0
Flask-SQLAlchemy==3.1.1
#Flask-Restless-NG==3.2.3
Flask-Cors==4.0.0
SQLAlchemy==2.0.38
#mysqlclient==2.2.4  # If using MySQL
psycopg2-binary==2.9.9  # If using PostgreSQL
marshmallow==3.20.2
flask-marshmallow==1.2.1
gunicorn==21.2.0
boto3==1.34.59  # If using AWS
#google-cloud-storage==2.16.0  # If using GCP
docker==7.0.0
swagger-ui-bundle==0.0.9
requests
beautifulsoup4
pandas
selenium
webdriver-manager
chromedriver-autoinstaller

